body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

.container {
    display: grid;
    border: 3px solid gray;
    width: 700px;
    height: 700px;
}

.square {
    border: 1px solid black;
}